.navbar {
	width: 100%;
	height: 80px;
	background-color: rgb(255, 255, 255);
	display: flex;
	justify-content: space-between;
	align-items: center;
	color: #000;
    border-bottom: 1px solid black;
}

.menu ul {
    display: flex;
    align-items: center;
    font-family: 'Courier New', Courier, monospace;
}

.menu ul li a, .menu ul li Link{
    text-decoration: none;
    color: #000;
    padding: 5px 12px;
    letter-spacing: 2px;
    font-size: 18px;
}

.menu ul li a:hover {
    border-bottom: 4px solid #000;
    transition: 0.4s;
}

.signup a {
    text-decoration: none;
    color: #000;
    font-size: 18px;
    font-weight: bold;
    border-radius: 12px;
    padding: 12px 30px;
    border: 2px solid #3700ff;
    margin: 5px;
}

.signup a:hover {
    color: white;
    background-color: rgb(0, 21, 255);
    transition: 0.6s;
}
