.SearchBox {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 85vh;
}

#searchEl {
    height: 70px;
    width: 800px;
    padding: 5px;
    border-radius: 10px;
    outline: none;
    border: 2px solid black;
    font-size: 30px;
}

#searchIl {
    cursor: pointer;
    padding: 10px;
    width: 60px;
    height: 60px;
}