.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 50px;
    display: flex;
    background-color: white;
    justify-content: space-around;
    align-items: center;    
    border-top: 1px solid black;
}

.footer a {

    text-decoration: none;
    color: green;
    font-size: 18px;
    font-weight: bold;
}

.footer a:hover {
    text-decoration: underline;
    transition: 0.4s;
}