.hotels {
    display: flex;
    flex-flow: row wrap;
    padding: 10px;
    background-color: #efefef;
    width: 100%;
    overflow: visible;
}

.card .hotelsI {
    width: 100%;
    margin-right: 10px;
    border-radius: 10px;
    border: 1px solid black;

}

.card {
    display: flex;
    box-shadow: 4px 4px 8px 0 rgba(0, 0, 0, 0.2);
    margin: 2px;
    transition: 0.3s;
    padding: 10px;
    border: 1px solid black;
    border-radius: 10px;
    margin: 8px;
    height: 300px;
    width: 32%;
}

.imgT {
    width: 5%;
    flex-basis: 40%;
}

#dataP {
    flex-basis: 70%;
    /* width: 20%; */
}
.card img {
    margin-left: 15px;
    margin-right: 10px;
    border-radius: 10px;
    width: 100%;
}

.card h4 {
    font-size: 15px;
}

.card p {
    font-size: small;
}

.card #dataP {
    margin-left: 20px;
    font-family: sans-serif;
    padding: 5px;
    font-size: 15px;
}

.card:hover {
    box-shadow: 0 8px 16px 0 rgb(0, 0, 0);
}

.container {
    padding: 2px 16px;
}